@model TomasosPizzeria.ViewModels.LoggedInModel
@{
    Layout = "_LoggedIn";
}

@if (TempData["success"] == null)
{
    <div class="jumbotron">
        <h2>Välkommen till Tomasos @Model.Customer.Namn</h2>
        <p>Nedanför hittar du våran meny, klicka på en maträtt för att lägga till den i din varukorg</p>
    </div>
}

else
{
    <div class="container-fluid text-center">
        <h2 id="success-div" class="alert-success">@TempData["success"]</h2>
    </div>
}

@Html.Partial("_OrderMenu", Model)