@{
    Layout = "_AdminLayout";
}

<div class="bg-danger panel-body input-group">
    <h4>Access Denied</h4>
</div>

<div class="input-group">
    <a asp-action="Index" asp-controller="Home" class="btn btn-default">OK</a>
</div>